


.research-display-link{
    text-decoration: none !important;
}

.site-header-image{

    width: 100vw;
    height: auto;
    clip-path: inset(0 0 0 0);
    min-height: 100vh;
  
    margin-top: -5vh;
    margin-left: -2vw;
    
}

#image-container{
    width: 100vw;
    background-color: #272923;
    height: 100vh;


    overflow-y: hidden;
}


  .fade-to-white {
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: 20%; /* Adjust this value to control the fade height */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #f2f2f2 100%);
    pointer-events: none; /* Ensures the overlay doesn't interfere with interactions */
}

#show-me-button{
    position: absolute !important;
    font-size: 2vw !important;
    top: 80vh !important;

}



  /* #show-me-button::after {
    background: rgb(128, 237, 153);
  } 
 */

 .btn-67,
.btn-67 *,
.btn-67 :after,
.btn-67 :before,
.btn-67:after,
.btn-67:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-67 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #003263 ;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-67:disabled {
  cursor: default;
}
.btn-67:-moz-focusring {
  outline: auto;
}
.btn-67 svg {
  display: block;
  vertical-align: middle;
}
.btn-67 [hidden] {
  display: none;
}
.btn-67 {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn-67:hover {
  color: #fff;
  transition: color 0.1s linear 1s;
}
.btn-67:after,
.btn-67:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.btn-67:before {
  border-right: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}
.btn-67:hover:before {
  --border: 4px solid #003263;
  -webkit-animation: border-top-and-right 1s forwards;
  animation: border-top-and-right 1s forwards;
}
.btn-67:after {
  border-bottom: var(--border);
  border-left: var(--border);
  bottom: 0;
  right: 0;
  z-index: -1;
}
.btn-67:hover:after {
  --border: 4px solid #003263;
  -webkit-animation: border-bottom-and-left 1s 1s forwards;
  animation: border-bottom-and-left 1s 1s forwards;
}
@-webkit-keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}








#site-tagline{
    position: absolute;
    top: 80vh;
    color: white;
    font-weight: bold;
    font-size: 3vw;

    background-color: black;
    padding: 1vw;
}

  .lab-name-display{
    border-top: solid black 2px;
    border-left: solid black 5px;
    border-bottom: solid black 2px;
    background-color: #c0c0b8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    
     box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.5); /* Add inset box shadow */
    
  }

.top-display-image{
    border-top: solid black 2px;
    border-right: solid black 5px;
    border-bottom: solid black 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  



.site-footer {
    width: 100%;
    padding: 20px;
    background-color: #003263; /* Dark blue to contrast with the main content */
    color: #fff; /* White text for readability */
    text-align: center; /* Center-align the content for a neat appearance */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Shadow to lift the footer visually */

    font-size: 1rem; /* Standard font size for footer text */
}

.site-footer h4 {
    margin-bottom: 10px; /* Space below the title */
    font-size: 1.5rem; /* Larger text for the heading */
}

.site-footer p {
    margin-bottom: 8px; /* Uniform space between lines */
}

.site-footer a {
    color: #f4f4f8; /* Light grey links for subtle contrast and visibility */
    text-decoration: none; /* No underline for a cleaner look */
}

.site-footer a:hover {
    text-decoration: underline; /* Underline on hover for better user interaction feedback */
}


.recent-achievements {
    width: 40vw;
    padding: 30px; /* Increased padding */
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: 30px; /* Space from previous section */
}

.section-title {
    text-align: center;
    color: #003263; /* Consistent blue for section titles */
    font-size: 2rem; /* Prominent size for section titles */
    margin-bottom: 20px; /* Space below the title */
    font-family: 'Times New Roman', Times, serif; /* Use a serif font */
}

.achievements-container h3 {
    color: #257cb6; /* Lighter blue for subheadings */
    font-size: 1.5rem; /* Subheading size */
    margin-top: 20px; /* Spacing above each subheading */
}

.achievements-container ul {
    list-style-type: circle; /* Different style to distinguish from other lists */
    padding-left: 40px; /* Indentation for readability */
    margin-top: 10px; /* Top margin for separation */
    list-style-type: none;
}

.achievements-container ul li {
    margin-bottom: 10px; /* Spacing between list items */
    line-height: 1.5; /* Enhanced line height for readability */
    color: #333; /* Dark grey for text for better readability */
    transition: color 0.3s ease; /* Prepare for hover effect */
}

.achievements-container ul li:hover {
    color: #003263; /* Change color on hover */
}

hr {
    width: 100%;
    height: 1px;
    background: #777; /* Ensuring contrast and visibility */
}

.research-image {
    width: 100%; /* responsive to container size */
    height: auto; /* maintain aspect ratio */
}

.timeline{
    overscroll-behavior: auto;
}
.bottom-lab-display {
    padding: 2vw 0;
    flex-wrap: wrap; /* ensures responsiveness */
    padding-bottom: 10vh;
    
}

.offset-color1,
.offset-color2 {
    margin: 10px;
    border-radius: 8px; /* rounded corners */
}

#about-image {
    width: 80%; /* responsive width */
    height: auto; /* maintain aspect ratio */
}

.research-area-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Make the images circular */
    object-fit: cover; /* Ensure images cover the full area */
}


.lab-description p {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
    background: #f9f9f9;
    padding: 15px;
    margin: 20px 0;
    border-left: 5px solid #ff7e5f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    border-radius: 5px;
}


.lab-description {
    padding: 30px; /* Increased padding */
  
    line-height: 1.6; /* improves readability */
    color: #333; /* Dark grey for text for better readability */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;
    font-size: 0.7vw;
}

.lab-description p{
    text-align: center;
}

.research-area-display {
    text-decoration: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Increased padding */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth hover effect */
    background-color: #f8f8f8; /* Neutral background color */
}

.research-area-display:hover {
    transform: translateY(-5px) scale(1.05); /* subtle hover effect */
   
}




.home-container {
    gap: 20px; /* consistent spacing between sections */
}

.research-image{
    width: 90vmin;
    height: 50vmin;
}

#publication-list{
    width: 23vw;
    height: 85vh;
    padding-top: 2vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.publications-display{
    width: 25vw;
    height: 100vh;

    background: #a8aaac;
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 2vw rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1vw;

}

.research-display{
    width: 43vw;
    height: 100vh;

    
}

.publication{
    width: 40vw;
    height: 50vh;
    
    
}

.publication-title{
    font-size: 1vw;
    color: black;
}

.bottom-lab-display{
    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;

    padding-top: 15vh;
}

.offset-color1{
    background: #e5e5e6 !important;
}

.offset-color2{
    background: #e2dede !important;
}

#about-image{
    width: 95vmin;
    height: 50vmin;
}

.research-area-image{
    width: 12vmin;
    height: 12vmin;
}




.about-lab-display {
    width: 55vw; /* Maintain current width */
    height: 100vh;
    padding: 20px; /* Increase padding for better spacing */

    background-color: #f4f4f836; /* Light background for a subtle contrast */
    border-radius: 10px; /* Rounded corners */
   
    margin: 20px 0; /* Added margin for separation from other elements */
}

.about-header {
    font-size: 2vw; /* Slightly larger font size */
    color: #0C598E;
    margin-bottom: 10px; /* Space between header and tagline */
    font-weight: bold; /* Bold font for emphasis */
    text-align: center; /* Center alignment for aesthetics */
}

.lab-display-image{
    width: 40vw;
    height: 40vh;

}

.about-tagline{
    font-size: 1.5rem; /* Increase font size for a more professional look */
    font-weight: bold; /* Add bold font weight for emphasis */
    color: #2f2f2f; /* Dark grey for better readability */
    margin-bottom: 10px; /* Space below the title */
}

.about-display-tab{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 




}

#about-image {
    width: 90%; /* Responsive width to adjust within the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space before the text description */
}



.about-lab-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-y: scroll;

    
}



.research-area-display{
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 28vh;
    font-size: 0.8vw;
    
    flex-direction: column;

    text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
               3px 4px 4px rgba(179, 147, 211, 0.15),
               4px 6px 4px rgba(179, 147, 211, 0.2),
               5px 8px 4px rgba(179, 147, 211, 0.25) !important;
    


  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.research-area-display:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.research-area-display:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.research-area-display:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.about-header{
    width: 35vw;
   font-size: 1.75vw !important;
   color: #0C598E;
   margin-top: 17vh;
}



.research-area-container{
    width: 20vw;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}

.research-areas-display{
    width: 20vw;
    height: 100vh;
    color: #0C598E;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle-lab-display{
    width: 85vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    
   
}

.top-lab-display{
    display: flex;

    justify-content: center;
    align-items: center;
}

.top-lab-display h3{
    font-size: 2vw;
    color: white;

    background: #1C2128; 
    width: 45vw;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    box-shadow: inset 0 0 3vw rgb(0, 0, 0);
}

.home-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}



#welcome-header,
.welcome-header{

    font-family: 'Arial', sans-serif;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(to right, #003263,  	#2f6295);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: bold;

}





.publication h4.about-tagline {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.publication .lab-display-image {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publication h3.lab-description {
    font-family: 'Arial', sans-serif;
    font-size: 1.2vw;
    line-height: 1.6;
    color: #444;
    margin: 15px 0;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
} 
