#human-tab-title {
    color: #003263;
    font-size: 2rem; /* Increased size for prominence */
    margin: 20px 0; /* Added top and bottom margin for spacing */
    text-align: center; /* Center title for better aesthetics */
}

.human-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#staff-display {
    display: flex;
    flex-direction: row; /* Changed to row for a horizontal layout */
    flex-wrap: wrap; /* Allows multiple rows as needed */
    justify-content: center; /* Center items horizontally */
    align-items: space-evenly; /* Align items to the top of the container */
    padding: 20px; /* Padding around the container */
    gap: 20px; /* Space between cards */
    max-width: 100%; /* Limits width to the viewport width */
    overflow-y: auto; /* Allows scrolling vertically if necessary */
    height: auto; /* Height adjusts based on content */
}


.staff-card {
    background-color: #f9f9f9; /* Light background for the card */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */

    text-align: center; /* Center text inside the card */
}


.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 35vw;

    padding-top: 2vh;

}

.bio-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.bio h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold; /* Add bold font weight for emphasis */
}

.bio h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 0; /* Adjust line height for better spacing */
    color: #003263; /* Change color to match the title */
}

.bio p {
    font-size: 1rem;
    color: #555555;
    line-height: 1.5;
    margin-top: 10px; /* Add top margin for separation */
}

#bio-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-around;
}


#timeline{
    height: 100vh;
    width: 50vw;

}