#human-tab-title {
    color: #003263;
    font-size: 2rem; /* Increased size for prominence */
    margin: 20px 0; /* Added top and bottom margin for spacing */
    text-align: center; /* Center title for better aesthetics */
}

.human-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#staff-display {
    display: flex;
    flex-direction: row; /* Changed to row for a horizontal layout */
    flex-wrap: wrap; /* Allows multiple rows as needed */
    justify-content: center; /* Center items horizontally */
    align-items: space-evenly; /* Align items to the top of the container */
    padding: 20px; /* Padding around the container */
    gap: 20px; /* Space between cards */
    max-width: 100%; /* Limits width to the viewport width */
    overflow-y: auto; /* Allows scrolling vertically if necessary */
    height: auto; /* Height adjusts based on content */
}


.staff-card {
    background-color: #f9f9f9; /* Light background for the card */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */

    text-align: center; /* Center text inside the card */
}

