.react-image-gallery-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust the height as per your requirement */
}

.react-image-gallery-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}