@import '../node_modules/@syncfusion/ej2-base/styles/material3.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material3.css';


h3{
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  font-size: 2.5vmin;
}

h4{
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  font-size: 2vmin;
}

h5{
  font-family: Lato;
  font-weight: 400;
  line-height: 24px;
  font-size: 1.5vmin;
}

h2{
  font-family: Lato;
  font-weight: 400;
  line-height: 30px;
  font-size: 4vmin;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}

.tab{
  color: white;
  padding: 5px 10px;
}

.selectedTab {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;


  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.hiddenTab{
  display: none !important;
}

#linked-in-logo{
  width: 3vmin;
  height: 3vmin;
}

.site-header {
  width: 100%;  /* Extend full width of the viewport */
  height: 60px;  /* Fixed height for consistency */

  display: flex;
  justify-content: space-evenly;  /* Evenly space the elements */
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 0 20px;  /* Padding on sides for some breathing room */

  font-family: 'Lato', sans-serif;  /* Ensure font consistency */
  font-size: 18px;  /* Fixed font size for readability */
  font-weight: 400;
  position: absolute;
  z-index: 1;

  background-color: #4f5e242d;
}

.site-header h2 {
  cursor: pointer;  /* Indicates interactivity */
  margin: 0 20px;  /* Spacing between menu items */
  font-size: 1.5vw;  /* Larger font size for importance */
  transition: color 0.3s ease;  /* Smooth transition for hover effects */
}

.site-header h2:hover {
  color: #91a3a7;  /* Highlight color on hover */
}

#linked-in-logo {
  width: 32px;  /* Fixed size for LinkedIn logo */
  height: 32px;
  transition: transform 0.3s ease;  /* Smooth transform on hover */
}

#linked-in-logo:hover {
  transform: scale(1.1);  /* Slightly enlarge on hover */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
